body{
	text-align: center;
}


.container {
  .container-fixed();

  @media (min-width: @screen-sm-min) {
    width: @container-sm;
  }
  @media (min-width: @screen-md-min) {
    width: @container-md;
  }
  @media (min-width: @screen-lg-min) {
    width: @container-lg;
  }
}


.advantage-list{
	list-style: none;
	padding: 0;
	.make-row();

	li
	{
		.make-xs-column(6);
		.make-sm-column(4);
		.make-md-column(3);
		.make-lg-column(2);
		
		padding-top: (100px - @line-height-computed)/2;

		height: 100px;
		border: 1px solid gray;
	}
}

.advantage-list li:hover{
	background: lightgray;
}
